<div id="review1" class="review-handlebars">

  {{#each reviews}}
    <div class="inner-review-div">
      <p>{{ review }}</p>
      <li>{{ username }}</li>

    </div>
  {{/each}}

</div>

<div id="review2" class="review-handlebars">

  {{#each reviews}}
    <div class="inner-review-div">
      <p>{{ review }}</p>
      <li>{{ username }}</li>

    </div>
  {{/each}}

</div>
