<div id="seasons-container">

{{> seasonBanner}}

<section class="season-nav">
    <nav>
        <ul>
            <li>
                <a>
                Fall
                </a>
            </li>

            <li>
                <a>
                Winter
                </a>
            </li>

            <li>
                <a>
                Summer
                </a>
            </li>
            
            <li>
                <a>
                Spring
                </a>
            </li>

        </ul>
    </nav>
</section>

<section class="season-container">
        <h2>Season</h2>

<div class="carousel" data-flickity='{ "autoPlay": true }'>
    {{!-- add for each statment later for addding all products and reviews --}}
    <div class="carousel-cell">
          <h3>Product name</h3>
          <div class="product">
                        <div id="itemClick" class = "item item-full-width">
                            {{> item}}
                        
                        </div>
                        <div id="sampleClick" class="review" >
                            {{> review}}
                        </div>
                        
                        
          </div>
        </div>
    
    {{!-- closing --}}
</div>

</section>
</div>

<script src="/js/viewReviews.js"></script>