<section class="banner">
    <h1>SEASON</h1>
    <a name="" id="" class="btn btn-primary" href="#" role="button">LOGIN</a>
</section>
{{!-- login in text should change based on status of being logged in or out  --}}