<section class="banner">
    <h1>SEASON</h1>
    {{#if loggedIn}}
<button type="button" class="btn btn-primary" id="logout">
    LOGOUT
</button>
    {{else}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    LOGIN
</button>
{{/if}}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">USER LOGIN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <article class="login-form">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">User Name</label>
                            <input type="email" class="form-control" id="userName" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                            <div id="emailHelp" class="form-text">Not even that databse knows your password</div>
                        </div>

                    </form>
                </article>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="create"  >CREATE ACCOUNT</button>
                <button type="button" class="btn btn-primary" id="login" data-bs-dismiss="modal">LOGIN</button>

            </div>
        </div>
    </div>
</div>

</section>
