
<section class="login">
    {{> seasonBanner}}
    <h1>YOU MUST LOG IN</h1>
{{!-- scroller of items in catalog --}}
<div class="scroller-container">
    <div class="scroller" data-direction="right" data-speed="slow">
        <div class="scroller__inner">
            <img src="/images/jackolantern.jpg" alt="" />
            <img src="/images/reeses.jpg" alt="" />
            <img src="/images/skeletons.jpg" alt="" />
            <img src="/images/witches-hat.jpg" alt="" />
        </div>
    </div>
</div>
<script src="/js/scroller.js"></script>
</seciton>
