<seciton class="login">
<h1>YOU MUST LOGIN IN</h1>

{{> seasonBanner}}

<div class="seasons-img">
 {{!-- meant to represent which season you click on in the banner --}}
    <div class="image-container">
    <p>images will go here</p>
    <img sr="">
    </div>
</div>
</seciton>