
<section class="login">
    {{> seasonBanner}}
    <h1>YOU MUST LOG IN</h1>
{{!-- scroller of items in catalog --}}
<div class="scroller-container">
    <div class="scroller" data-direction="right" data-speed="slow">
        <div class="scroller__inner">

        </div>
    </div>
</div>
</seciton>
<script type='module'src="/js/seasonSwitch.js"></script>
<script src="/js/login.js"></script>
<script type="module" src="/js/scroller.js"></script>