
<section class="login">
    {{> seasonBanner}}
    <h1 id="preventAcess">YOU MUST LOG IN</h1>
{{!-- scroller of items in catalog --}}
<div class="scroller-container">
    <div class="scroller" data-direction="right" data-speed="slow">
        <div class="scroller__inner">
    {{#each items}}
    <img {{!-- refractor to img-{{id}} --}} id="item-{{id}}" class="custom-hover" src="/images/{{filename}}"
        alt="dataBase Image" />
    {{/each}}
        </div>
    </div>
</div>
</seciton>

<script src="/js/login.js"></script>
<script  src="/js/scroller.js"></script>

