<h1>Recover</h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter Username or Password</label>
        <input  class="form-control" id="recover_Us_em" >
    </div>

    <div class="mb-3" id="passwordRecovDiv">
        <label for="exampleInputPassword1" class="form-label"> New Password</label>
        <input type="text" class="form-control" id="updatePassword">
    </div>

    {{!-- <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Retype Password</label>
        <input type="text" class="form-control" class="matchingPassword">
            <div id="emailHelp" class="form-text">Ensure that you never forget</div>
    </div> --}}
    <button class="btn btn-primary" id="recover">Recover</button>
    <button class="btn btn-primary" id="update">Update</button>
</form>