
<section class="login">
    {{> seasonBanner}}
    <h1>YOU MUST LOG IN</h1>
{{!-- scroller of items in catalog --}}
<div class="scroller-container">
    <div class="scroller" data-direction="right" data-speed="slow">
        <div class="scroller__inner">

        </div>
    </div>
</div>
</seciton>
<script type='module'src="/js/seasonSwitch.js"></script>
<script src="/js/login.js"></script>
<script type="module" src="/js/scroller.js"></script>
{{!-- 
add a data attribute to div with the class scroller-inner this data attribute will have varibale that comes from the server 
this variable will send items based on the season

to make it get the speicifc season the login route will have a parameter  --}}