:root {
  --primary: #22503d;
  --secondary: #8b4513;
  --tertiary: #ffdb58;
  --background: #fdd9b5;
  --bold: 800;
  --raidus: 8px;
  --button-primary: #a52a2a;
  --button-success: #347c3c;
}

/* Styling the Page */
body {
  background-color: var(--background);
}
/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
}

#seasonSwitch {
  color: var(--primary);
  font-size: 4em;
  font-weight: var(--bold);
}

.login h1 {
  text-align: center;
  color: var(--secondary);
}
#preventAcess {
  z-index: 1;
  width: fit-content;
  position: relative;
  top: 250px;
  left: 30%;
  border: 5px solid white;
  background-color: var(--tertiary);
  padding: 1%;
  font-weight: var(--bold);
  border-radius: var(--raidus);
}

/* Changing BootStrap Buttons */
.btn-primary {
  background-color: var(--button-primary);
  border-color: white;
}
.btn-primary:hover {
  background-color: var(--secondary) !important;
  border-color: white !important;
}
.btn-success {
  background-color: var(--button-success);
  border-color: white;
}

.btn-success:hover {
  background-color: var(--primary) !important;
  border-color: white !important;
}
