

/* Styling the Page */
body{
    background-color:var(--background)
}
/* Banner */
.banner{
    display:flex;
    justify-content:space-between;
}

#seasonSwitch {
color: var(--primary);
font-size:4em;
font-weight:var(--bold);
}

.login h1{
text-align:center;
color:var(--secondary)
}
#preventAcess{
    z-index:1;
    width: fit-content;
    position: relative;
    top:250px;
    left:450px;
    border:5px solid white;
    background-color:var(--tertiary);
    padding:1%;
    font-weight:var(--bold);
    border-radius: var(--raidus);
}

/* Changing BootStrap Buttons */
.btn-primary{
    background-color:var(--button-primary);
    border-color:white;
}
.btn-primary:hover{
        background-color: var(--secondary) !important;
        border-color: white !important;
}
 .btn-success {
     background-color: var(--button-success);
     border-color: white;
 }

 .btn-success:hover {
     background-color: var(--primary) !important;
 }
     
 /* winter */
 :root {
     --primary: #1E90FF;
     --secondary: #4169E1;
     --tertiary: #B0E0E6;
     --background: #F0F8FF;
     --bold: 800;
     --radius: 8px;
     --button-primary: #4682B4;
     --button-success: #87CEEB;
 }

