.banner{
    margin:5% auto;
    display:flex;
    justify-content:space-evenly;
}
.banner button{
    height:fit-content;
}

.season-nav ul {
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}
/* for visuals only can be removed later */
.product{
    
    width:800px;
    height:500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.item {
    background-color: lightslategray;
    overflow-y: auto;
    width: 400px;
    
}
.inner-item-div{
    
    margin: 10px auto;
    width: 300px; 
    height: 350px;
    padding: 20px; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inner-item-div img {
    width: 100%; 
    height: auto; 
    /* object-fit: cover;  */
}

.item-full-width {
    
    width: 800px;
}
.review {
    background-color: darkorange;
    overflow-y: auto;
    width: 400px;
    display: none;
    
}
#review1{
    display: none;
}
#review2{
    display: none;
}

.inner-review-div{
    width: 80%;
    margin: 20px auto;
}

.season-container{
    padding:4%;
}





/* For Flickity */
/* values that can be played aroundn with later */
.carousel-cell {
    width: 80%;
    height: 600px;
    margin-right: 10px;
    background-color:white;
    overflow-y: auto;
}

