.season-container {
  padding: 4%;

}

.banner {
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
}
.banner button {
  height: fit-content;
}

.banner-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: end; 
  flex-direction: column;
}

.season-nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
/* for visuals only can be removed later */
.product {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
}

.item {
  
  overflow-y: auto;
  width: 400px;
  transition: 0.5s ease;
}
.inner-item-div {
  margin: 10px auto;
  width: 300px;
  height: 350px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inner-item-div img {
  width: 100%;
  height: auto;
  /* object-fit: cover;  */
}

.item-full-width {
  width: 800px;
}

.custom-hover {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.custom-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}
.review {
  background-color: darkorange;
  overflow-y: auto;
  width: 400px;
  display: none;
  transition: 0.5s ease;
}

.review:hover {
  cursor: pointer;
}
.reviewClose {
  text-align: center;
  padding: 5px;
  background-color: black;
  color: darkorange;
}
#review1 {
  display: none;
}
#review2 {
  display: none;
}

.inner-review-div {
  width: 80%;
  margin: 20px auto;
}



.modal-backdrop.show {
  display: none;
}

/* gptInput field */

.costume-rec-div {
  margin: 50px auto;
}

/* For Flickity */
/* values that can be played aroundn with later */
.carousel-cell {
  width: 80%;
  height: 600px;
  margin-right: 10px;
  background-color: white;
  overflow-y: auto;
}

.carousel-cell h3 {
  text-align: center;
  font-size: 36px;
}

@media (max-width: 1200px) {
  .product {
    flex-direction: column;
    width: 500px;
    margin: auto;
  }

  .review {
    display: none; /* Make review visible */
    order: -1; /* Place review before item in the document flow */
    width: 500px; /* Take full width */
    height: 300%;
  }

  .item {
    width: 500px; /* Take full width */
    order: 1; /* Ensures that item comes after review */
  }
}
@media (max-width: 426px) {
  .product {
    flex-direction: column;
    width: 300px;
    margin: auto;
  }

  .review {
    display: none;
    order: -1; /* Place review before item in the document flow */
    width: 300px; /* Take full width */
    height: 300%;
  }

  .item {
    width: 300px; /* Take full width */
    order: 1; /* Ensures that item comes after review */
  }
}


/* One Season Page Styling */

.onePage-header {
   margin: 20px auto;
   color: orange;
  display: flex;
  justify-content: space-between;
  background-color: #22503d;
  padding: 20px;
  border-radius: 10px;
}

.onePage-product{
   width: 90%;
  height: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
}